<div{{ attributes.defaults({ id: this.htmlId(computed.stream) }) }}>
  <h2 class="display-inline">{{ computed.stream.date|date('F j, Y') }}</h2>
  {%- if computed.stream.prev -%}
  &nbsp;
  <form id="{{ this.loadPrevHtmlId(computed.stream.prev) }}" class="display-inline" action="{{ url('mati_prev', {stream: computed.stream.prev.id}) }}">
    <button type="submit" class="usa-button usa-button--unstyled" data-turbo-stream>
      (load previous stream superchats)
    </button>
  </form>
  {%- endif -%}
  {%- for superchat in superchats -%}
    <twig:SuperchatMessage :superchat="superchat" />
  {%- endfor -%}
</div>
