<div{{ attributes.defaults({ class: 'usa-summary-box', id: 'superchat-' ~ superchat.id }) }}>
  <div class="usa-summary-box__body">
    <h4 class="usa-summary-box__heading">
      {{ superchat.username }} for ${{ this.price }}
    </h4>
    <div class="usa-summary-box__link">{{ superchat.message }}</div>
  </div>
</div>
